.contenedor-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}
.contenedor-skills-cards {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid blue; */
  margin: 25px auto;

  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.uno .dos {
  margin: auto;
}

/* estilos para tablets y móviles */
@media (max-width: 768px) {
  .contenedor-skills-cards {
    flex-wrap: wrap;
    gap: 4rem;
  }
}

/* estilos específicos para móviles chicos */
@media (max-width: 480px) {
  .contenedor-skills-cards {
    /* border: 1px solid red; */
    gap: 0rem;
    justify-content: space-around;
    height: 220px;
    margin-bottom: -1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
