.contenedor-card,
.card-frente,
.card-dorso {
  width: 170px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--resaltar-texto2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.skill {
  cursor: pointer;
}
.contenedor-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
/* Cuando est치 volteada */
.voltear .contenedor-card-inner {
  transform: rotateY(180deg);
}
.card-frente,
.card-dorso {
  position: absolute;
  backface-visibility: hidden;
}
/* Frente */
.card-frente img {
  width: 50%;
}
.card-dorso p {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--resaltar-texto1);
  margin: auto;
}
/* Dorso momento 0 cuando esta "escondido" */
.card-dorso {
  transform: rotateY(180deg);
  background-color: var(--color-fondo);
  color: var(--texto);
}

.hobbie img {
  width: 50%;
}

/* estilos para tablets y m칩viles */
@media (max-width: 768px) {
  .contenedor-hobbies-cards {
    height: 250px;
  }
}

@media (max-width: 480px) {
.contenedor-skills-cards .uno{
  display: flex;
  justify-content: space-around;
}
  .contenedor-card,
  .card-frente,
  .card-dorso {
    width: 90px; /* tama침o m치s chico */
    height: 90px;
  }

  .card-frente img {
    width: 60%;
  }

  .contenedor-card h3 {
    display: none; /* ocultar texto si molesta */
  }
}
