.contenedor-formacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  gap: 2rem;
  /* width: 90%; */
  max-width: 1200px;
  /* border:1px solid red; */
}

.contenedor-formacion-card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  cursor: pointer;
}

.contenedor-card.formacionAcademica {
  box-shadow: 0 4px 10px var(--resaltar-texto1);
  /* width: 350px; */
  height: 350px;

  width: clamp(250px, 30vw, 350px);

  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;

  /* prueba */
  padding: 1rem;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.formacionAcademica img {
  width: 60%;
  max-width: 200px;
  margin: 0 auto;
}

.contenedor-card.formacionAcademica h3 {
  /* font-size: 1.6rem; */
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}
.contenedor-card.formacionAcademica p {
  /* font-size: 1.5rem; */
  font-size: clamp(1rem, 1.8vw, 1.5rem);
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-contenido {
  background: white;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
}

.cerrar-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}