.contenedor-circulo-progreso {
  width: 100%;
  max-width: 150px; 
  margin: 0 auto;
}

.progreso {
  width: 100%;
  height: auto; 
  display: block;
}

.fondo {
  fill: none;
  stroke: #eee;
  stroke-width: 10;
}

.progreso {
  fill: none;
  stroke: var(--resaltar-texto3);
  stroke-width: 10;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease;
}

.texto {
  font-size: 20px;
  fill: var(--resaltar-texto2);
  /* fill: rgb(232, 36, 250); */
  font-weight: bolder;
}
