.presentacion {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  /* border: 1px solid blue; */
}

.contenedor-presentacion {
  /* width: 80%; */
  flex: 1;
  margin: auto 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}
.contenedor-presentacion-texto {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.contenedor-presentacion-texto h1 {
  /* font-family: "Playwrite ES"; */
}

.contenedor-presentacion-texto span {
  color: var(--resaltar-texto1);
}

.contenedor-presentacion-img {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-presentacion-img img {
  width: 80%;
  max-width: 450px;
}

.contenedor-presentacion-redes ul {
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contenedor-presentacion-redes ul a:hover {
  color: var(--acentos);
  transition: color 0.3s ease;
}

/* estilos para tablets y móviles */
@media (max-width: 768px) {
  .contenedor-presentacion {
    flex-direction: column;
    margin: auto 2rem;
  }
}

/* estilos específicos para móviles chicos */
@media (max-width: 480px) {
  .contenedor-presentacion-img {
    display: none;
  }
}
